name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@05d3518c8bf0785ef04d304e8c36fd10c62d3f2c # v1.20.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
