name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@89af84354826a9f186ba66b0b6bc7ea51221f7fb # v1.20.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
